In [8]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import bokeh.charts as bk
import plotly.plotly as py

In [12]:
df = pd.read_table("StudentBudget2016.tsv", delimiter = '\t')
df = df[df["Type"] == "All Students"]
del df["Type"]
del df["Systemwide"]

df = df.set_index("Item")
df = df.transpose()
#del df["TOTAL BUDGET"]
df

Item,Books & supplies,Living,Personal,Transportation,Healthcare,Systemwide fees,Campus fees,TOTAL BUDGET
Berkeley,1262,11966,1770,720,2612,12294,1214,31838
Davis,1601,9534,1904,1267,2292,12294,1752,30644
Irvine,1766,9677,1984,1440,1675,12294,1066,29902
Los Angeles,1636,12287,1794,921,2150,12294,626,31708
Merced,1444,10552,1877,1134,2271,12294,968,30540
Riverside,1716,10034,2008,1405,1629,12294,1287,30373
San Diego,1541,10826,1849,1259,2011,12294,1351,31131
Santa Barbara,1431,11703,1842,915,3150,12294,1778,33113
Santa Cruz,1470,12715,1768,934,2875,12294,1244,33300

In [13]:
#basic matplotlib figure
df.plot(kind="bar")

plt.show()
#fig = plt.gcf()
#py.iplot_mpl(fig)

In [ ]:
area = bk.Area(df)
bk.show(area)