In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import bokeh.charts as bk
import plotly.plotly as py

In [14]:
df = pd.read_table("StudentBudget2016.tsv", delimiter = '\t')
df = df[df["Type"] == "All Students"]
del df["Type"]
del df["Systemwide"]

df = df.set_index("Item")
df = df.transpose()
#del df["TOTAL BUDGET"]
df

Item,Books&Supplies,Living,Personal,Transportation,Healthcare,Systemwide fees,Campus fees,Total
Berkeley,1262,11966,1770,720,2612,12294,1214,31838
Davis,1601,9534,1904,1267,2292,12294,1752,30644
Irvine,1766,9677,1984,1440,1675,12294,1066,29902
Los Angeles,1636,12287,1794,921,2150,12294,626,31708
Merced,1444,10552,1877,1134,2271,12294,968,30540
Riverside,1716,10034,2008,1405,1629,12294,1287,30373
San Diego,1541,10826,1849,1259,2011,12294,1351,31131
Santa Barbara,1431,11703,1842,915,3150,12294,1778,33113
Santa Cruz,1470,12715,1768,934,2875,12294,1244,33300

In [15]:
#basic matplotlib figure
df.plot(kind="bar")

plt.show()
#fig = plt.gcf()
#py.iplot_mpl(fig)

In [16]:
area = bk.Area(df)
bk.show(area)

In [38]:
#blank for later initialization
data = pd.DataFrame()
st = ""

#retrieval file names and string names
source = pd.read_csv("filename_year.csv")

#ignore first element of tuple (df indexes)
for (a,file, yr) in source.itertuples():
    df = pd.read_table(file, delimiter = '\t')
    #del df["Berkeley"]
    #del df["Davis"]
    #del df["Irvine"]
    #del df["Los Angeles"]
    #del df["Merced"]
    #del df["Riverside"]
    #del df["Santa Barbara"]
    #del df["Santa Cruz"]
    #del df["Systemwide"]
    
    #set the index labels
    df = df.set_index("Item")
    #name column to be corresponding game
    #yr = str(yr)
    
    #if st == "":
    #    print("*")
    #    st = df.columns
    #df.columns = df.columns + [yr ,yr, yr,yr, yr, yr, yr, yr, yr]
    #print(df.columns)
    #set if first game, else concatenate dfs
    if len(data) == 0:
        data = df
    else:
        data = pd.concat([data,df])
        
data

,Berkeley,Davis,Irvine,Los Angeles,Merced,Merced,Riverside,San Diego,Santa Barbara,Santa Cruz,Systemwide,Systemwide,Type
Item,,,,,,,,,,,,,
Books&Supplies,1326,1514,1631,1554,1513.0,NaN,1700,1504,1505,1395,1574.0,NaN,Commuter
Living,3864,3657,3533,3687,3081.0,NaN,3100,2631,3498,2742,3351.0,NaN,Commuter
Personal,1596,1610,1795,1977,1610.0,NaN,1800,1594,1530,1920,1758.0,NaN,Commuter
Transportation,1870,1971,1988,1860,1993.0,NaN,2000,1965,1905,1545,1944.0,NaN,Commuter
Healthcare,1146,747,720,621,743.0,NaN,726,738,873,945,750.0,NaN,Commuter
Systemwide fees,6141,6141,6141,6141,6141.0,NaN,6141,6141,6141,6141,6141.0,NaN,Commuter
Campus fees,513,1435,653,381,512.0,NaN,449,547,869,876,641.0,NaN,Commuter
Total,16456,17075,16461,16221,15593.0,NaN,15916,15120,16321,15564,16159.0,NaN,Commuter
Books&Supplies,1326,1514,1631,1554,1513.0,NaN,1700,1504,1505,1395,1509.0,NaN,On-Campus
Living,13074,11239,9815,12415,10783.0,NaN,10200,9657,11493,11805,11302.0,NaN,On-Campus
Personal,1388,1419,1622,1518,1419.0,NaN,1700,1598,1549,1458,1525.0,NaN,On-Campus
Transportation,684,748,1276,764,1372.0,NaN,1300,1097,1042,870,957.0,NaN,On-Campus
Healthcare,1146,747,720,621,743.0,NaN,726,738,873,945,809.0,NaN,On-Campus
Systemwide fees,6141,6141,6141,6141,6141.0,NaN,6141,6141,6141,6141,6141.0,NaN,On-Campus
Campus fees,513,1435,653,381,512.0,NaN,449,547,869,876,682.0,NaN,On-Campus
Total,24272,23243,21858,23394,22483.0,NaN,22216,21282,23472,23490,22925.0,NaN,On-Campus
Books&Supplies,1326,1514,1631,1554,1513.0,NaN,1700,1504,1505,1395,1502.0,NaN,Off-Campus
Living,9122,7393,8255,9527,7393.0,NaN,8000,8501,9339,8712,8612.0,NaN,Off-Campus
Personal,1606,1544,1826,1765,1544.0,NaN,2000,1665,1766,1500,1689.0,NaN,Off-Campus
Transportation,1160,1506,2086,1529,2013.0,NaN,2000,1925,1483,1563,1612.0,NaN,Off-Campus
Healthcare,1146,747,720,621,743.0,NaN,726,738,873,945,822.0,NaN,Off-Campus
Systemwide fees,6141,6141,6141,6141,6141.0,NaN,6141,6141,6141,6141,6141.0,NaN,Off-Campus
Campus fees,513,1435,653,381,512.0,NaN,449,547,869,876,738.0,NaN,Off-Campus
Total,21014,20280,21312,21518,19859.0,NaN,21016,21021,21976,21132,21116.0,NaN,Off-Campus
Books&Supplies,1326,1514,1631,1554,1513.0,NaN,1700,1504,1505,1395,1512.0,NaN,All Students
Living,9953,7951,7496,10005,8417.0,NaN,7578,8255,9851,9857,8885.0,NaN,All Students
Personal,1547,1522,1767,1697,1498.0,NaN,1864,1636,1692,1497,1646.0,NaN,All Students
Transportation,1063,1376,1856,1286,1747.0,NaN,1786,1663,1357,1258,1447.0,NaN,All Students
Healthcare,1146,747,720,621,743.0,NaN,726,738,873,945,810.0,NaN,All Students
Systemwide fees,6141,6141,6141,6141,6141.0,NaN,6141,6141,6141,6141,6141.0,NaN,All Students
...,...,...,...,...,...,...,...,...,...,...,...,...,...
Personal,2068,2068,2068,2068,NaN,2068.0,2068,2068,2068,2068,2068.0,NaN,Commuter
Transportation,1686,1686,1686,1686,NaN,1686.0,1686,1686,1686,1686,1686.0,NaN,Commuter
Healthcare,2612,2292,1675,2150,NaN,2271.0,1629,2011,3150,2875,1946.0,NaN,Commuter
Systemwide fees,12294,12294,12294,12294,NaN,12294.0,12294,12294,12294,12294,12294.0,NaN,Commuter
Campus fees,1214,1752,1066,626,NaN,968.0,1287,1351,1778,1244,1189.0,NaN,Commuter
Total,25997,26554,25416,25321,NaN,25592.0,25541,25812,27268,26498,25592.0,NaN,Commuter
Books&Supplies,1262,1601,1766,1636,NaN,1444.0,1716,1541,1431,1470,1548.0,NaN,On-Campus
Living,16389,14838,13429,15069,NaN,16100.0,14607,12545,14015,15217,14520.0,NaN,On-Campus
Personal,1648,1561,1870,1679,NaN,1836.0,1974,1683,1740,1721,1732.0,NaN,On-Campus
Transportation,544,629,830,602,NaN,598.0,884,814,763,586,699.0,NaN,On-Campus
Healthcare,2612,2292,1675,2150,NaN,2271.0,1629,2011,3150,2875,2312.0,NaN,On-Campus
Systemwide fees,12294,12294,12294,12294,NaN,12294.0,12294,12294,12294,12294,12294.0,NaN,On-Campus
Campus fees,1214,1752,1066,626,NaN,968.0,1287,1351,1778,1244,1221.0,NaN,On-Campus
Total,35963,34967,32930,34056,NaN,35511.0,34391,32239,35171,35407,34326.0,NaN,On-Campus
Books&Supplies,1262,1601,1766,1636,NaN,1444.0,1716,1541,1431,1470,1548.0,NaN,Off-Campus
Living,10549,8606,9814,10667,NaN,7205.0,9008,10131,9855,10296,9769.0,NaN,Off-Campus
Personal,1805,1979,2012,1868,NaN,1876.0,2005,1978,1926,1803,1916.0,NaN,Off-Campus
Transportation,745,1394,1696,1122,NaN,1457.0,1683,1632,1029,1294,1273.0,NaN,Off-Campus
Healthcare,2612,2292,1675,2150,NaN,2271.0,1629,2011,3150,2875,2316.0,NaN,Off-Campus
Systemwide fees,12294,12294,12294,12294,NaN,12294.0,12294,12294,12294,12294,12294.0,NaN,Off-Campus
Campus fees,1214,1752,1066,626,NaN,968.0,1287,1351,1778,1244,1299.0,NaN,Off-Campus
Total,30481,29918,30323,30363,NaN,27515.0,29622,30938,31463,31276,30415.0,NaN,Off-Campus
Books&Supplies,1262,1601,1766,1636,NaN,1444.0,1716,1541,1431,1470,1548.0,NaN,All Students
Living,11966,9534,9677,12287,NaN,10552.0,10034,10826,11703,12715,11064.0,NaN,All Students
Personal,1770,1904,1984,1794,NaN,1877.0,2008,1849,1842,1768,1862.0,NaN,All Students
Transportation,720,1267,1440,921,NaN,1134.0,1405,1259,915,934,1099.0,NaN,All Students
Healthcare,2612,2292,1675,2150,NaN,2271.0,1629,2011,3150,2875,2279.0,NaN,All Students
Systemwide fees,12294,12294,12294,12294,NaN,12294.0,12294,12294,12294,12294,12294.0,NaN,All Students
Campus fees,1214,1752,1066,626,NaN,968.0,1287,1351,1778,1244,1259.0,NaN,All Students
Total,31838,30644,29902,31708,NaN,30540.0,30373,31131,33113,33300,31405.0,NaN,All Students